
/* ---------------- set up variables ---------------- */

:root {
    --osm2pgsql-color-darker: #2b4ab5; /* darker blue */
    --osm2pgsql-color-dark: #4b6ac5; /* dark blue */
    --osm2pgsql-color-light: #a0c0ff; /* light blue */
    --osm2pgsql-color-news: #ffa500; /* orange */
    --osm2pgsql-color-menu-text: #ffffff;
    --osm2pgsql-color-menu-hover: #e0e0e0;
    --osm2pgsql-font: Verdana, sans-serif;
}

/* ---------------- document structure ---------------- */

body {
    font-family: var(--osm2pgsql-font);
    margin: 0;
    max-width: 1200px;
    line-height: 130%;
}

@media screen and (min-width: 1000px) {
    body {
        margin: 0 auto;
    }
}

header {
    position: absolute;
    top: 0;
    padding: 0;
    width: 100%;
    max-width: 1200px;
    z-index: 1;
}

@media print {
    header,
    .noprint {
        display: none;
    }
}

main {
    position: relative;
    top: 60px;
    padding: 0 20px;
    max-width: 1200px;
}

footer {
    position: relative;
    top: 60px;
    border-top: 1px solid #e0e0e0;
    clear: both;
    text-align: center;
    font-size: 90%;
    color: #606060;
    max-width: 1200px;
    padding-bottom: 10px;
    margin: 30px 20px 0 20px;
}

section {
    position: relative;
    margin-top: 24px;
    border-top: 1px solid var(--osm2pgsql-color-light);
}

/* ---------------- top ---------------- */

#top {
    position: absolute;
    top: 0;
    width: 100%;
    height: 20px;
    padding: 10px 0;
    background-color: var(--osm2pgsql-color-dark);
    text-align: center;
}

#top a {
    color: var(--osm2pgsql-color-menu-text);
    text-decoration: none;
    font-weight: bold;
}

#top a:hover {
    color: var(--osm2pgsql-color-menu-hover);
}

@media screen and (min-width: 1000px) {
    #top {
        position: absolute;
        top: 0;
        left: 0;
        width: 400px;
        padding-top: 120px;
        font-size: 18pt;
        transform: rotate(-25deg) translate(-105px, -130px);
    }
}

@media screen and (max-width: 999px) {
    #top {
        font-size: 18px;
    }
}

/* ---------------- main menu ---------------- */

nav {
    position: absolute;
}

a#menu-code {
    background-image: url('/img/github.png');
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

@media screen and (min-width: 1000px) {
    #menu-toggle span,
    #menu-toggle input {
        display: none;
    }

    nav {
        top: 20px;
        right: 0;
        font-size: 120%;
        padding-right: 20px;
    }

    nav ul {
        width: 100%;
        list-style: none;
        margin: 0;
    }

    nav ul > li {
        position: relative;
        float: left;
        margin-left: 10px;
        height: 2ex;
    }

    #menu a {
        background-color: var(--osm2pgsql-color-dark);
        color: var(--osm2pgsql-color-menu-text);
        text-decoration: none;
        padding: 3px 8px;
        border-radius: 2px;
    }

    #menu a:hover {
        color: var(--osm2pgsql-color-menu-hover);
    }

    a#menu-code {
        padding-left: 30px;
        background-position: 8px center;
    }
}

@media screen and (max-width: 999px) {
    nav {
        width: 400px;
        height: 400px;
        overflow: hidden;
        right: 0;
    }

    #menu-toggle {
        display: block;
        position: absolute;
        top: 9px;
        right: 14px;
        z-index: 1;
    }

    #menu-toggle a {
        text-decoration: none;
        color: #ffffff;
    }

    #menu-toggle a:hover {
        color: #e0e0e0;
    }

    #menu-toggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }

    div#menu-toggle span {
        position: relative;
        display: block;
        width: 27px;
        height: 4px;
        margin-bottom: 5px;
        background-color: #ffffff;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                    opacity 0.55s ease;
    }

    #menu-toggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menu-toggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    #menu-toggle input:checked ~ span {
        transform: rotate(45deg) scale(1.1, 1.1) translate(0, 1px);
    }

    #menu-toggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: scale(0.2, 0.2);
    }

    #menu-toggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) scale(1.1, 1.1);
    }

    #menu {
        position: absolute;
        width: 200px;
        margin: -100px 0 0 50px;
        padding: 110px 20px 20px 20px;
        background-color: var(--osm2pgsql-color-dark);
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform: none;
        transform-origin: 0% 0%;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    #menu li {
        padding: 6px 0;
        font-size: 160%;
    }

    #menu-toggle input:checked ~ ul {
        transform: translate(-100%, 0);
    }

    a#menu-code {
        padding-left: 24px;
        background-position: 0 3px;
    }
}

/* ---------------- common elements ---------------- */

h1,
h2,
h2 a {
    color: var(--osm2pgsql-color-dark);
    text-decoration: none;
}

a {
    color: var(--osm2pgsql-color-darker);
}

a:visited {
    color: black;
}

a.extlink::before {
    content: '\2192' ' ';
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 240%;
    line-height: 120%;
}

h2 img {
    position: relative;
    top: 2px;
    width: 1em;
    height: 1em;
    padding-right: 0.3em;
}

code {
    background-color: #f0f0f0;
    padding: 0 2px;
    border-radius: 2px;
}

pre code {
    padding: 0;
}

ul,
ol {
    padding-left: 24px;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 20px;
}

pre {
    background-color: #f0f0f0;
    padding: 2px 6px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
}

.note {
    border: 1px solid #ffa0a0;
    border-radius: 2px;
    background-image: url('/img/warning.png');
    background-repeat: no-repeat;
    background-position: 8px 8px;
    background-size: 20px 20px;
    background-color: #fff0f0;
}

.wip {
    border: 1px solid #a0a0ff;
    border-radius: 2px;
    background-image: url('/img/wip.png');
    background-repeat: no-repeat;
    background-position: 8px 8px;
    background-size: 20px 20px;
    background-color: #f0f0ff;
}

div.note {
    padding: 0 10px 0 40px;
}

p.note,
p.wip {
    padding: 10px 10px 10px 40px;
}

img.inline {
    position: relative;
    top: 1px;
    width: 1em;
    height: 1em;
}

/* ---------------- news box on home page ---------------- */

@media screen and (max-width: 999px) {
    a#news-rss {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    #newsbox {
        position: relative;
        float: right;
        width: 26em;
        min-height: 100px;
        background-color: #ffffff;
        border: 1px solid var(--osm2pgsql-color-news);
        border-radius: 2px;
        padding: 10px;
        margin-left: 10px;
        z-index: 1;
    }

    #newsbox section {
        border: none;
    }

    #newsbox h2 {
        position: relative;
        top: calc(-0.8em - 4px);
        width: 3.6em;
        margin: 0 auto;
        padding: 0;
        border: none;
        text-align: center;
        background-color: #ffffff;
    }

    #newsbox h2 a {
        color: var(--osm2pgsql-color-news);
        text-decoration: none;
    }

    a#news-rss {
        position: absolute;
        right: 4px;
        top: 4px;
    }
}

/* ---------------- news pages ---------------- */

.post-meta {
    color: var(--osm2pgsql-color-dark);
    font-size: 140%;
    text-align: center;
}

div.news-date {
    text-align: center;
    color: #808080;
    font-size: 120%;
}

.news-list article {
    margin-bottom: 30px;
}

.news-text {
    margin-left: 7em;
}

div.news-date-small {
    float: left;
    width: 5em;
    border-radius: 2px;
    text-align: center;
    background-color: var(--osm2pgsql-color-dark);
    color: #ffffff;
    margin-right: 2em;
}

/* ---------------- flex container on doc page ---------------- */

.container {
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    margin: -10px;
}

.box {
    margin: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    padding: 0 16px 4px 16px;
    flex-grow: 1;
    text-decoration: none;
    color: #000000;
}

.box2 {
    width: 40%;
    background-color: #e8f0f8;
    border: 1px solid var(--osm2pgsql-color-light);
}

.box2 h2 {
    margin-top: 10px;
    border: none;
}

.box3 {
    width: 25%;
    font-size: 80%;
}

.box3 img {
    float: left;
    padding: 12px 8px 8px 0;
}

/* ---------------- sponsor images ---------------- */

#sponsorlist {
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
}

#sponsorlist div {
    padding: 4px 40px 4px 0;
    margin: auto 0;
}

#sponsorlist a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

/* ---------------- contribute: software list ---------------- */

table.software-versions {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-spacing: 0;
}

table.software-versions tbody tr:nth-child(even) {
    background-color: #f0f0f0;
}

table.software-versions td {
    height: 2em;
    border-left: 1px solid #e0e0e0;
    padding: 2px 4px;
}

table.software-versions th {
    width: 9%;
    border-left: 1px solid #e0e0e0;
    padding: 2px 4px;
    background-color: #e0e0e0;
}

/* ---------------- man pages ---------------- */

.manpage-version {
    text-align: center;
    font-size: 120%;
    color: var(--osm2pgsql-color-dark);
}

.manpage h1 {
    color: #404040;
    text-align: left;
}

.manpage strong {
    color: #404040;
}

.manpage dt {
    color: #404040;
}

.manpage dd {
    padding-bottom: 6px;
}

/* ---------------- manual ---------------- */

.version {
    background-color: #e0f0e0;
    padding: 0 2px;
    border-radius: 2px;
    border: 1px solid #e0e0e0;
}

.table-note {
    margin-top: 4px;
    text-align: right;
    font-style: italic;
}

.table-note::before {
    content: '(*) ';
}

/* ---------------- manual: table of contents ---------------- */

.toc ol {
    list-style: none;
}

.toc li {
    text-indent: -24px;
    line-height: 150%;
}

@media screen and (min-width: 400px) and (max-width: 1599px) {
    .toc li.appendix a::before {
        content: 'Appendix ';
    }
}

@media screen and (min-width: 1600px) {
    div.toc {
        position: fixed;
        top: 128px;
        left: 20px;
        width: 200px;
    }
}

/* ---------------- manual: auto-numbering ---------------- */

article.manual {
    counter-reset: chapter appendix;
}

article.manual table {
    display: inline-block;
}

article.manual table,
article.manual code,
article.manual pre,
article.manual p {
    overflow-x: auto;
}

article.manual section {
    counter-reset: section;
}

article.manual section.chapter h2::before {
    counter-increment: chapter;
    content: counter(chapter) ' ';
}

article.manual section.appendix h2::before {
    counter-increment: appendix;
    content: 'Appendix ' counter(appendix, upper-alpha) ': ';
}

article.manual section.chapter h3::before {
    counter-increment: section;
    content: counter(chapter) '.' counter(section) ' ';
}

article.manual section.appendix h3::before {
    counter-increment: section;
    content: counter(appendix, upper-alpha) '.' counter(section) ' ';
}

article.manual h2 a,
article.manual h3 a,
article.manual h4 a {
    display: none;
}

article.manual h2 svg,
article.manual h3 svg,
article.manual h4 svg {
    width: 1.4ex;
    height: 1.4ex;
}

article.manual h2:hover a,
article.manual h3:hover a,
article.manual h4:hover a {
    display: inline;
    text-decoration: none;
}

/* ---------------- manual: edit button ---------------- */

div.edit {
    position: absolute;
    top: 6px;
    right: 0;
    text-align: right;
    font-size: 160%;
}

div.edit a {
    border: 1px solid var(--osm2pgsql-color-light);
    border-radius: 2px;
    padding: 0 3px;
    text-decoration: none;
}

/* ---------------- manual: desc table ---------------- */

table.desc {
    border: 1px solid var(--osm2pgsql-color-light);
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

table.desc tbody tr:nth-child(even) {
    background-color: #f0f0f0;
}

table.desc th {
    background-color: var(--osm2pgsql-color-light);
    text-align: left;
    padding: 4px 8px;
    white-space: nowrap;
    width: 50px;
}

table.desc td {
    padding: 4px 8px;
    vertical-align: top;
    white-space: nowrap;
    font-family: monospace;
}

table.desc td code {
    border: 1px solid #ffffff;
}

table.desc th:last-of-type {
    white-space: normal;
    width: 100%;
}

table.desc td:last-of-type {
    white-space: normal;
    font-family: var(--osm2pgsql-font);
}

/* ---------------- manual: lib table ---------------- */

table.lib {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 30px;
}

table.lib th {
    width: 7em;
    padding: 4px;
    vertical-align: top;
    text-align: left;
}

table.lib th::after {
    content: ':';
}

table.lib td {
    border: 1px solid #e0e0e0;
    background-color: #f0f0f0;
    padding: 4px;
}

.lib-name td {
    font-weight: bold;
}

.lib-syno td,
.lib-exam td {
    font-family: monospace;
    white-space: pre;
}

/* ---------------- manual: projections table ---------------- */

table.proj {
    border: 1px solid var(--osm2pgsql-color-light);
    border-spacing: 0;
    width: 100%;
}

table.proj img {
    width: 128px;
}

table.proj td {
    padding: 10px;
}

/* ---------------- examples ---------------- */

.download {
    position: relative;
}

.download img {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 20px;
    height: 20px;
    padding: 4px;
    background-color: #e0e0e0;
    border-radius: 2px;
    z-index: 1;
}

.example-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.example {
    text-decoration: none;
    color: #000000;
    border: 1px solid var(--osm2pgsql-color-light);
    border-radius: 2px;
}

.example img {
    width: 100px;
    height: 100px;
    float: right;
    padding: 1px 1px 1px 10px;
}

.example h2,
.example p {
    margin-top: 6px;
    padding: 0 6px;
}

img.floatright {
    float: right;
    padding: 2px;
    margin-left: 10px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
}

img.fullwidth {
    max-width: calc(100% - 2px);
    border: 1px solid #e0e0e0;
    border-radius: 2px;
}

.map {
    width: calc(100% - 4px);
    height: 400px;
    background-color: #f0f0f0;
    border: 1px solid #e0e0e0;
    padding: 1px;
    clear: both;
}

