---
---

// ---------------- set up variables ----------------

$osm2pgsql-color-link: #216e8d;
$osm2pgsql-color-dark: #004665;
$osm2pgsql-color-news: #c61109; // red
$osm2pgsql-color-menu-text: #ffffff;
$osm2pgsql-color-menu-hover: #e0e0e0;
$osm2pgsql-color-box-fill: #f8f8f8;
$osm2pgsql-color-box-border: #e8e8e8;
$osm2pgsql-color-box-border-hover: #a0a0a0;
$osm2pgsql-font: Mulish;
$osm2pgsql-grid-gap: 12px;

// ---------------- document structure ----------------

@font-face {
    font-family: Mulish;
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Mulish-Medium.woff2') format('woff2'),
         url('/fonts/Mulish-Medium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    src: url('/fonts/Mulish-Bold.woff2') format('woff2'),
         url('/fonts/Mulish-Bold.woff') format('woff');
    font-display: swap;
}

body {
    font-family: $osm2pgsql-font;
    font-size: 110%;
    max-width: 1200px;
    line-height: 130%;
}

@media screen and (min-width: 1000px) {
    body {
        margin: 0 auto;
    }
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 1200px;
}

@media print {
    header,
    .noprint {
        display: none;
    }
}

main {
    position: relative;
    top: 60px;
    padding: 0 20px;
    max-width: 1200px;
}

footer {
    position: relative;
    top: 60px;
    border-top: 1px solid $osm2pgsql-color-box-border;
    clear: both;
    text-align: center;
    font-size: 90%;
    color: $osm2pgsql-color-dark;
    max-width: 1200px;
    padding-bottom: 10px;
    margin: 30px 20px 0 20px;
}

section {
    position: relative;
    margin-top: 24px;
}

// ---------------- logo at top ----------------

#logo {
    position: absolute;
    margin: 10px 20px;
}

#logo img {
    width: 100px;
}

@media screen and (max-width: 999px) {
    #logo img {
        width: 60px;
    }

    main {
        top: 40px;
    }
}

// ---------------- skip to main link ----------------

a.skip-main {
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;
}

a.skip-main:focus {
    left: auto;
    top: auto;
    height: auto;
    width: 15em;
    text-align: center;
    overflow: auto;
    margin: 24px 20px 10px 120px;
    padding: 10px;
    z-index: 999;
}

// ---------------- main menu ----------------

nav {
    position: absolute;
    top: 10px;
}

a#menu-code {
    background-image: url('/img/github.png');
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

@media screen and (min-width: 1000px) {
    #menu-toggle span,
    #menu-toggle input {
        display: none;
    }

    nav {
        right: 0;
        font-size: 120%;
        margin-right: 20px;
        height: 5ex;
        border-bottom: 2px solid $osm2pgsql-color-dark;
    }

    nav ul#menu {
        width: 100%;
        list-style: none;
        margin: 12px 0 0 0;
        padding: 0;
    }

    nav ul#menu > li {
        position: relative;
        float: left;
        margin-left: 4px;
        height: 2ex;
    }

    nav ul#menu > li:first-child {
        margin-left: 0px;
    }

    #menu a {
        color: $osm2pgsql-color-dark;
        text-decoration: none;
        font-weight: bold;
        padding: 3px 8px;
        border-radius: 2px;
    }

    #menu > li:hover > a {
        background-color: $osm2pgsql-color-dark;
        color: #ffffff;
    }

    a#menu-code {
        background-image: url('/img/github-dark.png');
        padding-left: 30px;
        background-position: 8px center;
    }

    a#menu-code:hover {
        background-image: url('/img/github.png');
    }

    #menu > li > ul {
        position: absolute;
        visibility: hidden;
        background-color: $osm2pgsql-color-dark;
        border: 1px solid #ffffff;
        border-radius: 2px;
        list-style: none;
        padding: 0;
        margin: 4px 0 0 -1px;
        z-index: 2;
        width: 10em;
    }

    #menu > li > ul > li {
        text-indent: 0;
        padding: 6px 2px;
        margin: 0;
    }

    #menu > li > ul > li > a {
        color: #ffffff;
    }

    #menu > li > ul > li:hover > a {
        color: $osm2pgsql-color-menu-hover;
    }

    #menu > li:hover > ul {
        visibility: visible;
    }
}

@media screen and (max-width: 999px) {
    nav {
        width: 60px;
        height: 40px;
        right: 0;
    }

    #menu-toggle {
        display: block;
        position: absolute;
        top: 16px;
        right: 32px;
        z-index: 1;
    }

    #menu-toggle a {
        text-decoration: none;
        color: #ffffff;
    }

    #menu-toggle a:hover {
        color: $osm2pgsql-color-menu-hover;
    }

    #menu-toggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }

    div#menu-toggle span {
        position: relative;
        display: block;
        width: 27px;
        height: 4px;
        margin-bottom: 5px;
        background-color: $osm2pgsql-color-dark;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0;
    }

    #menu-toggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menu-toggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    #menu-toggle input:checked ~ span {
        background-color: #ffffff;
        transform: rotate(45deg) scale(1.1, 1.1) translate(0, 1px);
    }

    #menu-toggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: scale(0.2, 0.2);
    }

    #menu-toggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) scale(1.1, 1.1);
    }

    #menu {
        position: absolute;
        display: none;
        width: 200px;
        margin: -100px 0 0 50px;
        padding: 110px 20px 20px 20px;
        background-color: $osm2pgsql-color-dark;
        border-left: 2px solid #ffffff;
        border-bottom: 2px solid #ffffff;
        border-bottom-left-radius: 2px;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform: none;
        transform-origin: 0% 0%;
    }

    #menu li {
        padding: 6px 0;
        font-size: 160%;
    }

    #menu-toggle input:checked ~ ul {
        display: block !important;
        transform: translate(-100%, 0);
    }

    a#menu-code {
        padding-left: 24px;
        background-position: 0 center;
    }

    #menu > li > ul {
        display: none;
    }
}

// ---------------- common elements ----------------

h1,
h2,
h2 a {
    color: $osm2pgsql-color-dark;
    text-decoration: none;
}

h2 {
    font-size: 180%;
    line-height: 120%;
}

a {
    color: $osm2pgsql-color-link;
}

a:visited {
    color: #000000;
}

a.extlink::before {
    content: '\2192' '\00a0';
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 240%;
    line-height: 120%;
}

h2 img, h3 img {
    position: relative;
    top: 2px;
    width: 1em;
    height: 1em;
    padding-right: 0.3em;
}

code {
    background-color: $osm2pgsql-color-box-fill;
    padding: 0 2px;
    border-radius: 2px;
}

pre code {
    padding: 0;
}

ul,
ol {
    padding-left: 24px;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 20px;
}

pre {
    background-color: $osm2pgsql-color-box-fill;
    padding: 2px 6px;
    border: 1px solid $osm2pgsql-color-box-border;
    border-radius: 2px;
}

.change-bef {
    position: relative;
    left: -2px;
    border-left: 2px solid red;
    background-color: lighten(red, 40%);
}

.change-aft {
    position: relative;
    left: -2px;
    border-left: 2px solid green;
    background-color: lighten(green, 70%);
}

.char-bef {
    font-weight: bold;
    color: red;
}

.char-aft {
    font-weight: bold;
    color: green;
}

.note {
    border: 1px solid #ffa0a0;
    border-radius: 2px;
    background-image: url('/img/warning.png');
    background-repeat: no-repeat;
    background-position: 8px 8px;
    background-size: 20px 20px;
    background-color: #fff0f0;
}

.wip {
    border: 1px solid #a0a0ff;
    border-radius: 2px;
    background-image: url('/img/wip.png');
    background-repeat: no-repeat;
    background-position: 8px 8px;
    background-size: 20px 20px;
    background-color: #f0f0ff;
}

.tip {
    border: 1px solid #eebc20;
    border-radius: 2px;
    background-image: url('/img/tip.png');
    background-repeat: no-repeat;
    background-position: 8px 8px;
    background-size: 20px 20px;
    background-color: #fff0e0;
}

div.note {
    padding: 0 10px 0 40px;
}

p.note,
p.tip,
p.wip {
    padding: 10px 10px 10px 40px;
}

img.inline {
    position: relative;
    top: 1px;
    width: 1em;
    height: 1em;
}

.flright {
    float: right;
    margin: 0 0 8px 8px;
}

.withborder {
    padding: 2px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
}

// ---------------- news box on home page ----------------

@media screen and (max-width: 999px) {
    a#news-rss {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    #newsbox {
        position: relative;
        float: right;
        width: 26em;
        min-height: 100px;
        background-color: lighten($osm2pgsql-color-news, 56);
        border: 1px solid $osm2pgsql-color-news;
        border-radius: 2px;
        padding: 10px;
        margin-top: 10px;
        margin-left: 10px;
        z-index: 1;
    }

    #newsbox section {
        border: none;
    }

    #newsbox h2 {
        margin-top: 10px;
        width: 3.6em;
        margin: 0 auto;
        padding: 0 0 4px 0;
        text-align: center;
    }

    #newsbox h2 a {
        color: $osm2pgsql-color-news;
        text-decoration: none;
    }

    a#news-rss {
        position: absolute;
        right: 4px;
        top: 4px;
    }
}

.news-date {
    vertical-align: top;
    white-space: nowrap;
}

// ---------------- news pages ----------------

.post-meta {
    color: $osm2pgsql-color-dark;
    font-size: 140%;
    text-align: center;
}

div.news-date {
    text-align: center;
    color: $osm2pgsql-color-dark;
    font-size: 120%;
}

.news-list article {
    margin-bottom: 30px;
}

.news-text {
    margin-left: 7em;
}

div.news-date-small {
    float: left;
    width: 5em;
    border-radius: 2px;
    text-align: center;
    background-color: $osm2pgsql-color-dark;
    color: #ffffff;
    margin-right: 2em;
}

// ---------------- grid on doc page ----------------

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    gap: $osm2pgsql-grid-gap;
}

.box {
    border-radius: 2px;
    padding: 0 16px 4px 16px;
    text-decoration: none;
    color: #000000;
    min-height: 5ex;
    border: 1px solid $osm2pgsql-color-box-border;
}

.box2 {
    background-color: $osm2pgsql-color-box-fill;
}

.box:hover {
    border: 1px solid $osm2pgsql-color-box-border-hover;
}

.box2 h2 {
    margin-top: 10px;
    border: none;
}

.box3 {
    font-size: 80%;
}

.box3 img {
    float: left;
    padding: 12px 8px 8px 0;
}

// ---------------- sponsor images ----------------

#sponsorlist {
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
}

#sponsorlist div {
    padding: 4px 40px 4px 0;
    margin: auto 0;
}

#sponsorlist a {
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

// ---------------- contribute: software list ----------------

table.software-versions {
    border-top: 1px solid $osm2pgsql-color-box-border;
    border-bottom: 1px solid $osm2pgsql-color-box-border;
    border-right: 1px solid $osm2pgsql-color-box-border;
    border-spacing: 0;
    border-radius: 2px;
}

table.software-versions tbody tr:nth-child(even) {
    background-color: $osm2pgsql-color-box-fill;
}

table.software-versions td {
    height: 2em;
    border-left: 1px solid $osm2pgsql-color-box-border;
    padding: 2px 4px;
}

table.software-versions tr.groupstart td {
    border-top: 2px solid $osm2pgsql-color-box-border;
}

table.software-versions th {
    height: 2em;
    min-width: 5em;
    border-left: 1px solid $osm2pgsql-color-box-border;
    padding: 2px 4px;
    background-color: $osm2pgsql-color-box-border;
    text-align: left;
}

// ---------------- man pages ----------------

.manpage-version {
    text-align: center;
    font-size: 120%;
    color: $osm2pgsql-color-dark;
}

.manpage h1 {
    color: #404040;
    text-align: left;
}

.manpage strong {
    color: #404040;
}

.manpage dt {
    color: #404040;
}

.manpage dd {
    padding-bottom: 6px;
}

// ---------------- manual ----------------

.version {
    background-color: #e0f0e0;
    padding: 0 2px;
    border-radius: 2px;
    border: 1px solid #e0e0e0;
}

.experimental {
    background-color: #f0f0ff;
    border: 1px solid #a0a0ff;
    padding: 0 2px;
    border-radius: 2px;
}

.table-note {
    margin-top: 4px;
    text-align: right;
    font-style: italic;
}

.table-note::before {
    content: '(*) ';
}

// ---------------- manual: table of contents ----------------

.toc {
    padding: 4px 8px;
    background-color: $osm2pgsql-color-box-fill;
    border: 1px solid $osm2pgsql-color-box-border;
    border-radius: 2px;
}

.toc table td {
    vertical-align: top;
}

.toc table td.arrow {
    color: $osm2pgsql-color-dark;
    cursor: pointer;
    width: 1em;
}

.toc table td.num {
    text-align: right;
}

.toc table ul.sub {
    display: none;
    margin: 2px 0;
    padding: 0;
    line-height: 150%;
}

.toc table ul.sub li {
    list-style: none;
    padding-left: 2em;
    text-indent: -2em;
}

@media screen and (min-width: 1600px) {
    div.toc {
        position: fixed;
        top: 128px;
        left: 20px;
        width: calc((100vw - 1280px) / 2);
        height: calc(100vh - 160px);
        overflow-y: scroll;
    }

    #to-toc {
        display: none;
    }

}

@media screen and (max-width: 1599px) {
    #to-toc {
        position: fixed;
        bottom: 40px;
        right: 0;
        background-color: $osm2pgsql-color-box-border;
        border-top: 4px solid #ffffff;
        border-bottom: 4px solid #ffffff;
        border-left: 4px solid #ffffff;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        z-index: 2;
        padding: 4px 4px;
        text-decoration: none;
        display: block;
        width: 2em;
        text-align: center;
    }
}

// ---------------- manual: auto-numbering ----------------

article.manual {
    counter-reset: chapter appendix;
}

article.manual table {
    display: inline-block;
}

article.manual table,
article.manual code,
article.manual pre {
    overflow-x: auto;
}

article.manual section {
    counter-reset: section;
}

article.manual section.chapter h2::before {
    counter-increment: chapter;
    content: counter(chapter) ' ';
}

article.manual section.appendix h2::before {
    counter-increment: appendix;
    content: 'Appendix ' counter(appendix, upper-alpha) ': ';
}

article.manual section.chapter h3::before {
    counter-increment: section;
    content: counter(chapter) '.' counter(section) ' ';
}

article.manual section.appendix h3::before {
    counter-increment: section;
    content: counter(appendix, upper-alpha) '.' counter(section) ' ';
}

h2 a.heading-link,
h3 a.heading-link,
h4 a.heading-link {
    display: none;
}

h2 a.heading-link svg,
h3 a.heading-link svg,
h4 a.heading-link svg {
    width: 1.4ex;
    height: 1.4ex;
}

h2:hover a.heading-link,
h3:hover a.heading-link,
h4:hover a.heading-link {
    display: inline;
    text-decoration: none;
}

// ---------------- manual: edit button ----------------

@media screen and (max-width: 1599px) {
    div.edit {
        display: none;
    }
}

@media screen and (min-width: 1600px) {
    div.edit {
        position: absolute;
        top: 6px;
        right: 0;
        text-align: right;
        font-size: 160%;
    }

    div.edit a {
        border: 1px solid $osm2pgsql-color-box-border;
        border-radius: 2px;
        padding: 0 3px;
        text-decoration: none;
    }
}

// ---------------- manual: desc table ----------------

table.desc {
    border: 1px solid $osm2pgsql-color-box-border;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

table.desc tbody tr:nth-child(even) {
    background-color: $osm2pgsql-color-box-fill;
}

table.desc th {
    background-color: $osm2pgsql-color-box-border;
    text-align: left;
    padding: 4px 8px;
    white-space: nowrap;
    width: 50px;
}

table.desc td {
    padding: 4px 8px;
    vertical-align: top;
}

table.desc td:first-of-type {
    font-family: monospace;
}

@media screen and (min-width: 600px) {
    table.desc td:first-of-type {
        white-space: nowrap;
    }
}

@media screen and (min-width: 800px) {
    table.desc td {
        min-width: 14em;
    }
}

table.desc td code {
    border: 1px solid #ffffff;
}

table.desc th:last-of-type {
    width: 100%;
}

// ---------------- manual: lib table ----------------

table.lib {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 30px;
}

table.lib th {
    width: 7em;
    padding: 4px;
    vertical-align: top;
    text-align: left;
}

table.lib th::after {
    content: ':';
}

table.lib td {
    width: 100%;
    border: 1px solid $osm2pgsql-color-box-border;
    background-color: $osm2pgsql-color-box-fill;
    padding: 4px;
}

.lib-name td {
    font-weight: bold;
}

.lib-syno td,
.lib-exam td {
    font-family: monospace;
    white-space: pre;
}

// ---------------- manual: projections table ----------------

table.proj {
    background-color: $osm2pgsql-color-box-fill;
    border: 1px solid $osm2pgsql-color-box-border;
    border-radius: 2px;
    border-spacing: 0;
    width: 100%;
}

table.proj img {
    width: 128px;
}

table.proj td {
    padding: 10px;
}

// ---------------- releases ----------------

.release-date {
    text-align: center;
}

.release-github {
    position: relative;
    text-align: right;
}

.release-github img {
    position: relative;
    top: 2px;
}

div.releases-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
    gap: $osm2pgsql-grid-gap;
}

div.releases-container div {
    padding: 0 16px;
    background-color: $osm2pgsql-color-box-fill;
    border: 1px solid $osm2pgsql-color-box-border;
    border-radius: 2px;
}

div.releases-container div:hover {
    border: 1px solid $osm2pgsql-color-box-border-hover;
}

// ---------------- install ----------------

div.install {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
    gap: $osm2pgsql-grid-gap;
    margin: 20px 0 30px 0;
}

div.install a {
    display: block;
    line-height: 120%;
    text-indent: -1.3em;
    padding: 8px 10px 10px calc(1.3em + 10px);
    background-color: $osm2pgsql-color-box-fill;
    border: 1px solid $osm2pgsql-color-box-border;
    border-radius: 2px;
    font-size: 160%;
    text-decoration: none;
    vertical-align: middle;
}

div.install a:hover {
    border: 1px solid $osm2pgsql-color-box-border-hover;
}

div.install a img {
    position: relative;
    top: 2px;
    width: 1em;
    height: 1em;
    padding-right: 0.3em;
}

// ---------------- examples ----------------

.download {
    position: relative;
}

.download img {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 20px;
    height: 20px;
    padding: 4px;
    background-color: $osm2pgsql-color-box-border;
    border-radius: 2px;
    z-index: 1;
}

.example-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: $osm2pgsql-grid-gap;
}

.example {
    text-decoration: none;
    color: #000000;
    background-color: $osm2pgsql-color-box-fill;
    border: 1px solid $osm2pgsql-color-box-border;
    border-radius: 2px;
}

.example:hover {
    border: 1px solid $osm2pgsql-color-box-border-hover;
}

.example img {
    width: 100px;
    height: 100px;
    float: right;
    padding: 1px 1px 1px 10px;
}

.example h3,
.example p {
    margin-top: 6px;
    padding: 0 6px;
}

.example h3 {
    color: $osm2pgsql-color-dark;
    text-decoration: none;
}

img.fullwidth {
    max-width: calc(100% - 2px);
    border: 1px solid #e0e0e0;
    border-radius: 2px;
}

.map {
    width: calc(100% - 4px);
    height: 400px;
    background-color: $osm2pgsql-color-box-fill;
    border: 1px solid $osm2pgsql-color-box-border;
    border-radius: 2px;
    padding: 1px;
    clear: both;
}

img[src^="https://repology.org/"] {
    filter: grayscale(1);
}

{%- include highlight.css -%}
