<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="utf-8">
    <title>{{ page.title }}{% if layout.title_section %} - {{ layout.title_section }}{% endif %} - osm2pgsql</title>
    {% feed_meta %}
    <link rel="stylesheet" href="{% link css/main.scss %}">
{%- for css in page.css %}
    <link rel="stylesheet" href="{{ css }}">
{%- endfor -%}
{%- for js in page.javascript %}
    <script src="{{ js }}"></script>
{%- endfor %}
</head>
<body>
    <header>
        <a class="skip-main" href="#main">Skip to main content</a>
        <div id="logo"><a href="{% link index.md %}">osm2pgsql</a></div>
        <nav>
            <div id="menu-toggle">
                <input type="checkbox"/>
                <span></span><span></span><span></span>
                <ul id="menu">
                    <li><a href="{% link index.md %}">Home</a></li>
                    <li><a href="{% link news/index.md %}">News</a></li>
                    <li><a href="{% link doc/index.md %}">Documentation</a></li>
                    <li><a href="{% link examples/index.md %}">Examples</a></li>
                    <li><a href="{% link support/index.md %}">Support</a></li>
                    <li><a href="{% link contribute/index.md %}">Contribute</a></li>
                    <li><a href="{% link sponsors/index.md %}">Sponsors</a></li>
                    <li><a id="menu-code" href="https://github.com/openstreetmap/osm2pgsql">Code</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main id="main" tabindex="-1">
{{ content }}
    </main>
{%- if page.footer != false %}
    <footer>
        <p>This website is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>. <span class="noprint">Help maintain it on <a href="https://github.com/openstreetmap/osm2pgsql-website">Github</a>
        (<a href="{{ site.github.repository_url }}/blob/master/{{ page.path }}" target="_blank">Source of this page</a>).</span> | <a href="{% link contact.md %}">Imprint/Contact</a></p>
    </footer>
{%- endif %}
</body>
</html>
