<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="utf-8">
    <title>{{ page.title }}{% if layout.title_section %} - {{ layout.title_section }}{% endif %} - osm2pgsql</title>
    <meta property="og:description" content="OpenStreetMap data to PostgreSQL/PostGIS converter" />
    <meta property="og:url" content="https://osm2pgsql.org/" />
    <meta property="og:image" content="https://osm2pgsql.org/img/logo.png" />
    {% feed_meta %}
    <link rel="stylesheet" href="{% link css/main.scss %}">
{%- for css in page.css %}
    <link rel="stylesheet" href="{{ css }}">
{%- endfor -%}
{%- for js in page.javascript %}
    <script src="{{ js }}"></script>
{%- endfor %}
</head>
<body>
    <header>
        <a class="skip-main" href="#main">Skip to main content</a>
        <div id="logo"><a href="{% link index.md %}"><img src="{% link img/logo.png %}"/></a></div>
        <nav>
            <div id="menu-toggle">
                <input type="checkbox"/>
                <span></span><span></span><span></span>
                <ul id="menu">
                    <li><a href="{% link news/index.md %}">News</a></li>
                    <li><a href="{% link about/index.md %}">About</a>
                        <ul>
                            <li><a href="{% link about/features/index.md %}">Features</a></li>
                            <li><a href="{% link about/history/index.md %}">History</a></li>
                            <li><a href="{% link about/users/index.md %}">Users</a></li>
                            <li><a href="{% link about/road-map.md %}">Road Map</a></li>
                            <li><a href="{% link generalization/index.md %}">Generalization</a></li>
                        </ul>
                    </li>
                    <li><a href="{% link doc/index.md %}">Documentation</a>
                        <ul>
                            <li><a href="{% link doc/install.md %}">Installation</a></li>
                            <li><a href="{% link doc/manual.html %}">Manual (v2)</a></li>
                            <li><a href="{% link doc/manual-v1.html %}">Manual (v1)</a></li>
                            <li><a href="{% link doc/tutorials/index.md %}">Tutorials</a></li>
                            <li><a href="{% link doc/man/index.md %}">Man pages</a></li>
                            <li><a href="{% link doc/faq.md %}">FAQ</a></li>
                            <li><a href="{% link doc/community.md %}">Community Docs</a></li>
                            <li><a href="{% link releases/index.md %}">Releases</a></li>
                        </ul>
                    </li>
                    <li><a href="{% link examples/index.md %}">Examples</a></li>
                    <li><a href="{% link support/index.md %}">Support</a></li>
                    <li><a href="{% link contribute/index.md %}">Contribute</a>
                        <ul>
                            <li><a href="{% link contribute/as-user.md %}">For Users</a>
                            <li><a href="{% link contribute/as-writer.md %}">Documentation</a>
                            <li><a href="{% link contribute/as-developer.md %}">For Developers</a>
                        </ul>
                    </li>
                    <li><a href="{% link sponsors/index.md %}">Sponsors</a></li>
                    <li><a href="{% link themepark/index.md %}">Themepark</a>
                        <ul>
                            <li><a href="{% link themepark/index.md %}">Introduction</a>
                            <li><a href="{% link themepark/users-manual.md %}">User's Manual</a></li>
                            <li><a href="{% link themepark/authors-manual.md %}">Author's Manual</a></li>
                        </ul>
                    </li>
                    <li><a id="menu-code" href="https://github.com/osm2pgsql-dev/osm2pgsql">{% include img/logo-github.svg %}Code</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main id="main" tabindex="-1">
{{ content }}
    </main>
{%- if page.footer != false %}
    <footer>
        <p>This website is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>. <span class="noprint">Help maintain it on <a href="https://github.com/osm2pgsql-dev/osm2pgsql-website">GitHub</a>
        (<a href="{{ site.github.repository_url }}/blob/master/{{ page.path }}" target="_blank">Source of this page</a>).</span> | <a href="{% link contact.md %}">Imprint/Contact</a></p>
    </footer>
{%- endif %}
</body>
</html>
